<h1>MEXICAN FOOD INFORMATION</h1>
<h2><%=@name%></h2>
 <h4>
<%=@name%> has <%=@calories%> calories and <%=@carbs%> carbs and <%=@protein%> protein. is it healthy? <%=@healthy%>
 </h4>

 <%=@name%> <%=@calories%>
