<!DOCTYPE html>
<html>
<head>
	<title>Players</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<table>
		<tr><%= fname %></tr>
		<tr><%= lname %></tr>
		<tr><%= position %></tr>
		<tr><%= bats %></tr>
		<tr><%= batavg %></tr>
	</table>
	<script src="scripts/app.js"></script>
</body>
</html>