<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<!-- 
<% user.each do |user| %>

  <li>
  <%=  user.first_name %> <%= user.last_name %> username is <%= user.username %> who you can contact at <%= user.email %> or <%= user.phone %>
  </li>

<% end %>
 -->

 

</body>
</html>